<div class="container">
  <form class="searchform cf">
    <input
      type="text"
      [formControl]="stitle"
      placeholder="Is it me you’re looking for?"
    />
    <select [formControl]="stitle">
      <option value="">All</option>
      <option value="title">Title</option>
      <option value="description">Description</option>
      <option value="keywords">Keywords</option>
    </select>
    <button type="submit">Search</button>
  </form>

  <section>
    <div
      class="music-item"
      *ngFor="
        let m of list
          | search: [stitle.value, category.value]:['title', 'catName']
      "
    >
      <img src="https://placekitten.com/640/360" alt="" />
      <div class="m-details">
        <h5 class="title">{{ m.title }}</h5>
        <p class="duration">{{ m.supplement_information[0] }}</p>
        <div class="des">{{ m.description }}</div>
        <div>
          <a class="play"> &#9654; {{ m.links[0]?.text }} </a>
        </div>
        <div>
          <a href="{{ m.links[2]?.file_url }}" class="lyrics"
            >{{ m.links[2]?.text }}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
